<div class="container">
    <div class="form-container">
        <form #form="ngForm" enctype="multipart/form-data" (ngSubmit)="submitHandler()" (reset)="onReset()">
            <div class="form-divider">
                <header class="form-header">
                    <h2>Detailed Search</h2>
                </header>
                <div class="form-group">
                    <mat-form-field class="form-field">
                        <mat-label>Brand</mat-label>
                        <mat-select name="make" #make="ngModel" matInput type="text" placeholder="Car brand" (selectionChange)="makeSelectionHandler(make.value)" ngModel>
                            <mat-option *ngFor="let make of makes" [value]="make">{{make}}</mat-option>
                        </mat-select>
                        <mat-icon class="mat-primary" matPrefix>directions_car</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label>Model</mat-label>
                        <mat-select name="model" #model="ngModel" matInput type="text" placeholder="Car model" (selectionChange)="modelSelectionHandler(model.value)" ngModel>
                            <mat-option *ngIf="!models" disabled>Please select car brand first</mat-option>
                            <mat-option *ngFor="let model of models" [value]="model._id">{{model._id}}</mat-option>
                        </mat-select>
                        <mat-icon class="mat-primary" matPrefix>directions_car</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label>Color</mat-label>
                        <mat-select #color="ngModel" name="color" matInput type="text" placeholder="Paint color" ngModel>
                            <mat-option *ngFor="let color of colors" [value]="color">{{color}}</mat-option>
                        </mat-select>
                        <mat-icon class="mat-primary" matPrefix>palette</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label>Body style</mat-label>
                        <mat-select #bodyStyle="ngModel" name="bodyStyle" matInput type="text" placeholder="Body style" ngModel>
                            <ng-container *ngIf="!bodyStyles">
                                <mat-option *ngFor="let bodyStyle of bodyStylesList" [value]="bodyStyle">{{bodyStyle}}</mat-option>
                            </ng-container>
                            <mat-option *ngFor="let bodyStyle of bodyStyles" [value]="bodyStyle">{{bodyStyle}}</mat-option>
                        </mat-select>
                        <mat-icon class="mat-primary" matPrefix>directions_car</mat-icon>
                    </mat-form-field>

                    <ng-container #price="ngModelGroup" ngModelGroup="price">
                        <mat-form-field class="form-field">
                            <mat-label>Minimum price</mat-label>
                            <input #min="ngModel" name="min" matInput type="number" placeholder="Minimum price" ngModel min="0">
                            <mat-icon class="mat-primary" matPrefix>euro</mat-icon>
                            <mat-error *ngIf="min.hasError('min')">Price must be positive</mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-field">
                            <mat-label>Maximum price</mat-label>
                            <input #max="ngModel" name="max" matInput type="number" placeholder="Maximum price" ngModel min="1">
                            <mat-icon class="mat-primary" matPrefix>euro</mat-icon>
                            <mat-error *ngIf="max.hasError('min')">Price must be positive</mat-error>
                        </mat-form-field>
                    </ng-container>
                </div>

                <div class="form-group">
                    <mat-form-field class="form-field">
                        <mat-label>Minimum year</mat-label>
                        <input #year="ngModel" name="year" matInput type="number" placeholder="Production year" ngModel min="1992" max="2021">
                        <mat-icon class="mat-primary" matPrefix>today</mat-icon>
                        <mat-error *ngIf="year.hasError('min')">Year must be between 1992 and 2021</mat-error>
                        <mat-error *ngIf="year.hasError('max')">Year must be between 1992 and 2021</mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label>Location</mat-label>
                        <mat-select name="location" #location="ngModel" matInput type="text" placeholder="Car location" ngModel>
                            <mat-option *ngFor="let location of locations" [value]="location">{{location}}</mat-option>
                        </mat-select>
                        <mat-icon class="mat-primary" matPrefix>location_on</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label>Power</mat-label>
                        <input #power="ngModel" name="power" matInput type="text" placeholder="Engine power" ngModel min="1">
                        <mat-icon class="mat-primary" matPrefix>speed</mat-icon>
                        <mat-error *ngIf="power.hasError('min')">Power must be positive</mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label>Engine</mat-label>
                        <mat-select name="engine" #engine="ngModel" matInput type="text" placeholder="Engine type" ngModel>
                            <mat-option value="petrol">Petrol</mat-option>
                            <mat-option value="diesel">Diesel</mat-option>
                            <mat-option value="electric">Electric</mat-option>
                        </mat-select>
                        <mat-icon class="mat-primary" matPrefix>build</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label>Maximum mileage</mat-label>
                        <input name="mileage" #mileage="ngModel" matInput type="number" placeholder="Mileage" ngModel min="0">
                        <mat-icon class="mat-primary" matPrefix>add_road</mat-icon>
                        <mat-error *ngIf="mileage.hasError('min')">Mileage must be positive</mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label>Transmission</mat-label>
                        <mat-select name="transmission" #transmission="ngModel" matInput type="text" placeholder="Transmission type" ngModel>
                            <mat-option value="manual">Manual</mat-option>
                            <mat-option value="automatic">Automatic</mat-option>
                        </mat-select>
                        <mat-icon class="mat-primary" matPrefix>miscellaneous_services</mat-icon>
                    </mat-form-field>

                </div>

            </div>

            <mat-accordion multi>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Additional information
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="form-group checkbox-group">
                        <div class="checkbox-parent" #safety="ngModelGroup" ngModelGroup="safety">
                            <div class="checkbox-container">
                                <div class="checkbox-column">
                                    <mat-checkbox ngModel name="esp" color="primary" #esp="ngModel" [checked]="false">ESP</mat-checkbox>
                                    <mat-checkbox ngModel name="abs" color="primary" #abs="ngModel" [checked]="false">ABS</mat-checkbox>
                                </div>
                                <div class="checkbox-column">
                                    <mat-checkbox ngModel name="airbags" color="primary" #airbags="ngModel" [checked]="false">Airbags</mat-checkbox>
                                    <mat-checkbox ngModel name="camera" color="primary" #camera="ngModel" [checked]="false">Camera</mat-checkbox>
                                </div>
                            </div>

                            <div class="checkbox-container">
                                <div class="checkbox-column">
                                    <mat-checkbox ngModel name="parktronic" color="primary" #parktronic="ngModel" [checked]="false">Parktronic</mat-checkbox>
                                    <mat-checkbox ngModel name="distronic" color="primary" #distronic="ngModel" [checked]="false">Distronic</mat-checkbox>
                                </div>

                                <div class="checkbox-column">
                                    <mat-checkbox ngModel name="isofix" color="primary" #isofix="ngModel" [checked]="false">Isofix</mat-checkbox>
                                    <mat-checkbox ngModel name="tpms" color="primary" #tpms="ngModel" [checked]="false">TPMS</mat-checkbox>
                                </div>
                            </div>
                        </div>

                        <div class="checkbox-parent" #safety="ngModelGroup" ngModelGroup="comfort">
                            <div class="checkbox-container">
                                <div class="checkbox-column">
                                    <mat-checkbox ngModel name="aircon" color="primary" #aircon="ngModel" [checked]="false">Aircon</mat-checkbox>
                                    <mat-checkbox ngModel name="sunroof" color="primary" #sunroof="ngModel" [checked]="false">Sunroof</mat-checkbox>
                                </div>
                                <div class="checkbox-column">
                                    <mat-checkbox ngModel name="satnav" color="primary" #satnav="ngModel" [checked]="false">Satnav</mat-checkbox>
                                    <mat-checkbox ngModel name="xenon" color="primary" #xenon="ngModel" [checked]="false">Xenon</mat-checkbox>
                                </div>
                            </div>

                            <div class="checkbox-container">
                                <div class="checkbox-column">
                                    <mat-checkbox ngModel name="stereo" color="primary" #stereo="ngModel" [checked]="false">Stereo</mat-checkbox>
                                    <mat-checkbox ngModel name="autopilot" color="primary" #autopilot="ngModel" [checked]="false">Autopilot</mat-checkbox>
                                </div>

                                <div class="checkbox-column">
                                    <mat-checkbox ngModel name="bluetooth" color="primary" #bluetooth="ngModel" [checked]="false">Bluetooth</mat-checkbox>
                                    <mat-checkbox ngModel name="carplay" color="primary" #carplay="ngModel" [checked]="false">Carplay</mat-checkbox>
                                </div>
                            </div>
                        </div>

                        <div class="checkbox-parent" #safety="ngModelGroup" ngModelGroup="others">
                            <div class="checkbox-container">
                                <div class="checkbox-column">
                                    <mat-checkbox ngModel name="registration" color="primary" #registration="ngModel" [checked]="false">Registration</mat-checkbox>
                                    <mat-checkbox ngModel name="insurance" color="primary" #insurance="ngModel" [checked]="false">Insurance</mat-checkbox>
                                </div>
                                <div class="checkbox-column">
                                    <mat-checkbox ngModel name="serviced" color="primary" #serviced="ngModel" [checked]="false">Serviced</mat-checkbox>
                                    <mat-checkbox ngModel name="armor" color="primary" #armor="ngModel" [checked]="false">Armor</mat-checkbox>
                                </div>
                            </div>

                            <div class="checkbox-container">
                                <div class="checkbox-column">
                                    <mat-checkbox ngModel name="4x4" color="primary" #4x4="ngModel" [checked]="false">4x4</mat-checkbox>
                                    <mat-checkbox ngModel name="cargo" color="primary" #cargo="ngModel" [checked]="false">Cargo</mat-checkbox>
                                </div>

                                <div class="checkbox-column">
                                    <mat-checkbox ngModel name="refrigerator" color="primary" #refrigerator="ngModel" [checked]="false">Refrigerator</mat-checkbox>
                                    <mat-checkbox ngModel name="learners" color="primary" #learners="ngModel" [checked]="false">Learners</mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>

                </mat-expansion-panel>
            </mat-accordion>

            <div class="form-divider buttons">
                <button type="reset" color="warn" mat-raised-button>Reset</button>
                <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit">Submit</button>
            </div>
        </form>
    </div>

</div>