.form-container {
    margin: 2rem auto;
    flex-grow: 1;
}

.form-divider {
    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
    display: block;
    background: #fff;
    color: rgba(0, 0, 0, .87);
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    padding: 1rem 1.5rem;
}

header.form-header {
    color: #3F51B5;
    display: flex;
    margin: 2rem 2%;
}

.form-header h2 {
    text-align: center;
    text-decoration: none;
    color: #3F51B5;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    flex: 1 1 auto;
    border-bottom: 1.8px solid #3F51B5;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
}

.form-field {
    width: 100%;
    padding-bottom: 1rem;
    margin: auto 2%;
}

.form-group .form-field {
    flex: 1 1 auto;
    width: 25%;
    padding-bottom: 1rem;
    min-width: 12rem;
}

.form-group.checkbox-group {
    margin: 0.5rem auto;
    justify-content: space-evenly;
}

.checkbox-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 30%;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    min-width: 15rem;
}

.checkbox-column {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem;
    width: 50%;
}

.mat-checkbox {
    margin: 0.5rem;
}


.mat-icon {
    margin: auto 0.5rem;
}

.mat-form-field.ng-invalid.ng-touched .mat-icon {
    color: #f44336;
}

.mat-form-field.ng-valid .mat-icon {
    color: #3F51B5;
}

.form-divider.buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.buttons button {
    margin: 0px 1rem;
    min-width: 5rem;
}

.mat-form-field.mat-form-field-invalid.ng-invalid .mat-icon {
    color: #f44336;
}