<div class="container">
    <div class="form-container" *ngIf="car">
        <form #form="ngForm" enctype="multipart/form-data" (ngSubmit)="submitHandler()">
            <header class="form-header">
                <h2>Edit Listing</h2>
            </header>
            <mat-stepper #stepper orientation="vertical">
                <mat-step>
                    <ng-template matStepLabel>General Information</ng-template>
                    <div class="form-group">
                        <mat-form-field class="form-field">
                            <mat-label>Brand</mat-label>
                            <mat-select required name="make" #make="ngModel" matInput type="text" placeholder="Car brand" (selectionChange)="makeSelectionHandler(make.value)" [ngModel]="car.make">
                                <mat-option *ngFor="let make of (makes$ | async)" [value]="make">{{make}}</mat-option>
                            </mat-select>
                            <mat-icon class="mat-primary" matPrefix>directions_car</mat-icon>
                            <mat-error *ngIf="make.hasError('required')">Please select car brand</mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-field">
                            <mat-label>Model</mat-label>
                            <mat-select required name="model" #model="ngModel" matInput type="text" placeholder="Car model" (selectionChange)="modelSelectionHandler(model.value)" [ngModel]="car.model">
                                <mat-option *ngIf="!(models$ | async)" disabled>Please select car brand first</mat-option>
                                <mat-option *ngFor="let model of (models$ | async)" [value]="model._id">{{model._id}}</mat-option>
                            </mat-select>
                            <mat-icon class="mat-primary" matPrefix>directions_car</mat-icon>
                            <mat-error *ngIf="model.hasError('required')">Please select brand and model</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field class="form-field">
                            <mat-label>Title</mat-label>
                            <input #title="ngModel" name="title" matInput type="text" placeholder="Catchy title" [ngModel]="car.title" required>
                            <mat-icon class="mat-primary" matPrefix>feed</mat-icon>
                            <mat-error *ngIf="title.hasError('required')">Please add a title</mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-field">
                            <mat-label>Price</mat-label>
                            <input #price="ngModel" name="price" matInput type="number" placeholder="A fair price" [ngModel]="car.price" required min="1">
                            <mat-icon class="mat-primary" matPrefix>euro</mat-icon>
                            <mat-error *ngIf="price.hasError('required')">Please state a price</mat-error>
                            <mat-error *ngIf="price.hasError('min')">Price must be positive</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field class="form-field">
                            <mat-label>Description</mat-label>
                            <textarea #description="ngModel" matInput name="description" matInput type="text" placeholder="Short and accurate description" [ngModel]="car.description" required minlength="10"></textarea>
                            <mat-icon class="mat-primary" matPrefix>border_color</mat-icon>
                            <mat-error *ngIf="description.hasError('required')">Please add a description</mat-error>
                            <mat-error *ngIf="description.hasError('minlength')">Description too short</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="buttons">
                        <button mat-raised-button color="primary" type="button" matStepperNext>Next</button>
                    </div>


                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Additional Information</ng-template>
                    <div class="form-group">
                        <mat-form-field class="form-field">
                            <mat-label>Color</mat-label>
                            <mat-select #color="ngModel" name="color" matInput type="text" placeholder="Paint color" [ngModel]="car.color" required>
                                <mat-option *ngFor="let color of colors" [value]="color">{{color}}</mat-option>
                            </mat-select>
                            <mat-icon class="mat-primary" matPrefix>palette</mat-icon>
                            <mat-error *ngIf="color.hasError('required')">Please pick a color</mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-field">
                            <mat-label>Body style</mat-label>
                            <mat-select #bodyStyle="ngModel" name="bodyStyle" matInput type="text" placeholder="Body style" [ngModel]="car.bodyStyle" required>
                                <mat-option *ngIf="!(bodyStyles$ | async)" disabled>Please select brand and model first</mat-option>
                                <mat-option *ngFor="let bodyStyle of (bodyStyles$ | async)" [value]="bodyStyle">{{bodyStyle}}</mat-option>
                            </mat-select>
                            <mat-icon class="mat-primary" matPrefix>directions_car</mat-icon>
                            <mat-error *ngIf="bodyStyle.hasError('required')">Please select body type</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field class="form-field">
                            <mat-label>Year</mat-label>
                            <input #year="ngModel" name="year" matInput type="number" placeholder="Production year" [ngModel]="car.year" required min="1992" max="2021">
                            <mat-icon class="mat-primary" matPrefix>today</mat-icon>
                            <mat-error *ngIf="year.hasError('required')">Please state production year</mat-error>
                            <mat-error *ngIf="year.hasError('min')">Year must be between 1992 and 2021</mat-error>
                            <mat-error *ngIf="year.hasError('max')">Year must be between 1992 and 2021</mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-field">
                            <mat-label>Location</mat-label>
                            <mat-select name="location" #location="ngModel" matInput type="text" placeholder="Car location" [ngModel]="car.location" required>
                                <mat-option *ngFor="let location of locations" [value]="location">{{location}}</mat-option>
                            </mat-select>
                            <mat-icon class="mat-primary" matPrefix>location_on</mat-icon>
                            <mat-error *ngIf="location.hasError('required')">Please select a location</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <section class="image-preview">
                            <ul>
                                <li *ngFor="let image of car.images">
                                    <img [src]="image">
                                    <button mat-mini-fab color="warn" (click)="removeImage(image)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </li>
                            </ul>
                        </section>
                    </div>

                    <div class="form-group">
                        <mat-form-field class="form-field">
                            <mat-label>Select images</mat-label>
                            <ngx-mat-file-input #images="ngModel" name="images" placeholder="Car photos" [multiple]="true" ngModel (change)="fileSelectHandler($event)"> </ngx-mat-file-input>
                            <mat-icon class="mat-primary" matPrefix>collections</mat-icon>
                            <!-- <mat-error *ngIf="images.hasError('required')">Please upload at least 1 image</mat-error> -->
                        </mat-form-field>
                    </div>

                    <div class="buttons">
                        <button mat-raised-button color="primary" type="button" matStepperPrevious>Back</button>
                        <button mat-raised-button color="primary" type="button" matStepperNext>Next</button>
                    </div>

                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Technical Information</ng-template>
                    <div class="form-group">
                        <mat-form-field class="form-field">
                            <mat-label>Power</mat-label>
                            <input #power="ngModel" name="power" matInput type="text" placeholder="Engine power" [ngModel]="car.power" required min="1">
                            <mat-icon class="mat-primary" matPrefix>speed</mat-icon>
                            <mat-error *ngIf="power.hasError('required')">Please state engine power in hp</mat-error>
                            <mat-error *ngIf="power.hasError('min')">Power must be positive</mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-field">
                            <mat-label>Engine</mat-label>
                            <mat-select name="engine" #engine="ngModel" matInput type="text" placeholder="Engine type" [ngModel]="car.engine" required>
                                <mat-option value="petrol">Petrol</mat-option>
                                <mat-option value="diesel">Diesel</mat-option>
                                <mat-option value="electric">Electric</mat-option>
                            </mat-select>
                            <mat-icon class="mat-primary" matPrefix>build</mat-icon>
                            <mat-error *ngIf="engine.hasError('required')">Please select engine type</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field class="form-field">
                            <mat-label>Mileage</mat-label>
                            <input name="mileage" #mileage="ngModel" matInput type="number" placeholder="Mileage" [ngModel]="car.mileage" required min="0">
                            <mat-icon class="mat-primary" matPrefix>add_road</mat-icon>
                            <mat-error *ngIf="mileage.hasError('required')">Please state car mileage</mat-error>
                            <mat-error *ngIf="mileage.hasError('min')">Mileage must be positive</mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-field">
                            <mat-label>Transmission</mat-label>
                            <mat-select name="transmission" #transmission="ngModel" matInput type="text" placeholder="Transmission type" [ngModel]="car.transmission" required>
                                <mat-option value="manual">Manual</mat-option>
                                <mat-option value="automatic">Automatic</mat-option>
                            </mat-select>
                            <mat-icon class="mat-primary" matPrefix>miscellaneous_services</mat-icon>
                            <mat-error *ngIf="transmission.hasError('required')">Please select transmission type</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="buttons">
                        <button mat-raised-button color="primary" type="button" matStepperPrevious>Back</button>
                        <button mat-raised-button color="primary" type="button" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Safety</ng-template>
                    <div #safety="ngModelGroup" ngModelGroup="safety">

                        <div class="form-group checkbox-group">
                            <div class="checkbox-container">
                                <div class="checkbox-column">
                                    <mat-checkbox [ngModel]="!!car.safety.esp" name="esp" color="primary" #esp="ngModel" [checked]="false">ESP</mat-checkbox>
                                    <mat-checkbox [ngModel]="" name="abs" color="primary" #abs="ngModel" [checked]="false">ABS</mat-checkbox>
                                </div>
                                <div class="checkbox-column">
                                    <mat-checkbox [ngModel]="!!car.safety.airbags" name="airbags" color="primary" #airbags="ngModel" [checked]="false">Airbags</mat-checkbox>
                                    <mat-checkbox [ngModel]="!!car.safety.camera" name="camera" color="primary" #camera="ngModel" [checked]="false">Camera</mat-checkbox>
                                </div>
                            </div>

                            <div class="checkbox-container">
                                <div class="checkbox-column">
                                    <mat-checkbox [ngModel]="!!car.safety.parktronic" name="parktronic" color="primary" #parktronic="ngModel" [checked]="false">Parktronic</mat-checkbox>
                                    <mat-checkbox [ngModel]="!!car.safety.distronic" name="distronic" color="primary" #distronic="ngModel" [checked]="false">Distronic</mat-checkbox>
                                </div>

                                <div class="checkbox-column">
                                    <mat-checkbox [ngModel]="!!car.safety.isofix" name="isofix" color="primary" #isofix="ngModel" [checked]="false">Isofix</mat-checkbox>
                                    <mat-checkbox [ngModel]="!!car.safety.tpms" name="tpms" color="primary" #tpms="ngModel" [checked]="false">TPMS</mat-checkbox>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="buttons">
                        <button mat-raised-button color="primary" type="button" matStepperPrevious>Back</button>
                        <button mat-raised-button color="primary" type="button" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Comfort</ng-template>
                    <div #safety="ngModelGroup" ngModelGroup="comfort">

                        <div class="form-group checkbox-group">
                            <div class="checkbox-container">
                                <div class="checkbox-column">
                                    <mat-checkbox [ngModel]="!!car.comfort.aircon" name="aircon" color="primary" #aircon="ngModel" [checked]="false">Aircon</mat-checkbox>
                                    <mat-checkbox [ngModel]="!!car.comfort.sunroof" name="sunroof" color="primary" #sunroof="ngModel" [checked]="false">Sunroof</mat-checkbox>
                                </div>
                                <div class="checkbox-column">
                                    <mat-checkbox [ngModel]="!!car.comfort.satnav" name="satnav" color="primary" #satnav="ngModel" [checked]="false">Satnav</mat-checkbox>
                                    <mat-checkbox [ngModel]="!!car.comfort.xenon" name="xenon" color="primary" #xenon="ngModel" [checked]="false">Xenon</mat-checkbox>
                                </div>
                            </div>

                            <div class="checkbox-container">
                                <div class="checkbox-column">
                                    <mat-checkbox [ngModel]="!!car.comfort.stereo" name="stereo" color="primary" #stereo="ngModel" [checked]="false">Stereo</mat-checkbox>
                                    <mat-checkbox [ngModel]="!!car.comfort.autopilot" name="autopilot" color="primary" #autopilot="ngModel" [checked]="false">Autopilot</mat-checkbox>
                                </div>

                                <div class="checkbox-column">
                                    <mat-checkbox [ngModel]="!!car.comfort.bluetooth" name="bluetooth" color="primary" #bluetooth="ngModel" [checked]="false">Bluetooth</mat-checkbox>
                                    <mat-checkbox [ngModel]="!!car.comfort.carplay" name="carplay" color="primary" #carplay="ngModel" [checked]="false">Carplay</mat-checkbox>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="buttons">
                        <button mat-raised-button color="primary" type="button" matStepperPrevious>Back</button>
                        <button mat-raised-button color="primary" type="button" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Others</ng-template>
                    <div #safety="ngModelGroup" ngModelGroup="others">

                        <div class="form-group checkbox-group">
                            <div class="checkbox-container">
                                <div class="checkbox-column">
                                    <mat-checkbox [ngModel]="!!car.others.registration" name="registration" color="primary" #registration="ngModel" [checked]="false">Registration</mat-checkbox>
                                    <mat-checkbox [ngModel]="!!car.others.insurance" name="insurance" color="primary" #insurance="ngModel" [checked]="false">Insurance</mat-checkbox>
                                </div>
                                <div class="checkbox-column">
                                    <mat-checkbox [ngModel]="!!car.others.serviced" name="serviced" color="primary" #serviced="ngModel" [checked]="false">Serviced</mat-checkbox>
                                    <mat-checkbox [ngModel]="!!car.others.armor" name="armor" color="primary" #armor="ngModel" [checked]="false">Armor</mat-checkbox>
                                </div>
                            </div>

                            <div class="checkbox-container">
                                <div class="checkbox-column">
                                    <mat-checkbox [ngModel]="!!car.others['4x4']" name="4x4" color="primary" #4x4="ngModel" [checked]="false">4x4</mat-checkbox>
                                    <mat-checkbox [ngModel]="!!car.others.cargo" name="cargo" color="primary" #cargo="ngModel" [checked]="false">Cargo</mat-checkbox>
                                </div>

                                <div class="checkbox-column">
                                    <mat-checkbox [ngModel]="!!car.others.refrigerator" name="refrigerator" color="primary" #refrigerator="ngModel" [checked]="false">Refrigerator</mat-checkbox>
                                    <mat-checkbox [ngModel]="!!car.others.learners" name="learners" color="primary" #learners="ngModel" [checked]="false">Learners</mat-checkbox>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="buttons">
                        <button mat-raised-button color="primary" type="button" matStepperPrevious>Back</button>
                        <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit">Submit</button>
                    </div>
                </mat-step>
            </mat-stepper>
        </form>
    </div>
</div>