<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" mode="over" [opened]="false">
        <mat-toolbar>Menu</mat-toolbar>
        <ng-container *ngIf="!isLoading">
            <mat-nav-list *ngIf="!(user$ | async)as user; else authSidebar">
                <a mat-list-item [routerLink]="['/cars/search']">Browse cars</a>
                <a mat-list-item [routerLink]="['/user/register']">Register</a>
                <a mat-list-item [routerLink]="['/user/login']">Login</a>
            </mat-nav-list>
            <ng-template #authSidebar>
                <mat-nav-list>
                    <a mat-list-item [routerLink]="['/cars/favorites']">Favorites</a>
                    <a mat-list-item [routerLink]="['/cars/search']">Browse cars</a>
                    <a mat-list-item [routerLink]="['/cars/create']">Add listing</a>
                </mat-nav-list>
            </ng-template>
        </ng-container>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="site-content">
            <mat-toolbar class="navbar" color="primary">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <div class="container">
                    <span class="logo" routerLink='/'>
                        carousell
                    </span>
                    <ng-container *ngIf="!isLoading">
                        <div *ngIf="!(user$ | async); else authToolbar" class="buttons" [ngClass]="{hidden: (isHandset$ | async)}">
                            <a [routerLink]="['/cars/search']" routerLinkActive="active" mat-flat-button color="primary">Browse cars</a>
                            <a [routerLink]="['/user/login']" routerLinkActive="active" mat-flat-button color="primary">Login</a>
                            <a [routerLink]="['/user/register']" routerLinkActive="active" mat-flat-button color="primary">Register</a>
                            <!-- <button mat-raised-button color="primary" (click)="openAuthDialog()">Open Dialog</button> -->
                        </div>
                        <ng-template #authToolbar>
                            <div class="buttons" [ngClass]="{hidden: (isHandset$ | async)}">
                                <a [routerLink]="['/cars/favorites']" routerLinkActive="active" mat-flat-button color="primary">Favorites</a>
                                <a [routerLink]="['/cars/search']" routerLinkActive="active" mat-flat-button color="primary">Browse cars</a>
                                <a [routerLink]="['/cars/create']" routerLinkActive="active" mat-flat-button color="primary">Add listing</a>
                                <a (click)="logout()" mat-flat-button color="primary">Logout</a>
                                <!-- <button mat-raised-button color="primary" (click)="openAuthDialog()">Open Dialog</button> -->
                            </div>
                        </ng-template>
                    </ng-container>
                </div>
            </mat-toolbar>
            <ng-content></ng-content>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>