.form-container {
    margin: 2rem auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form {
    max-width: 41rem;
    flex-basis: 100%;
    background-color: white;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    border-radius: 0.3rem;
    padding: 1rem 3% 4rem 3%;
}

.form-title {
    text-transform: uppercase;
    text-align: center;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-field {
    width: 100%;
    padding-bottom: 1rem;
    margin: auto 2%;
}

.form-group .form-field {
    flex: 1 1 auto;
    width: 45%;
    padding-bottom: 1rem;
    min-width: 12rem;
}

.mat-icon {
    margin: auto 0.5rem;
}

.mat-form-field.ng-invalid.ng-touched .mat-icon {
    color: #f44336;
}

.mat-form-field.ng-valid .mat-icon {
    color: #3F51B5;
}

button[type="submit"] {
    margin: 0.2rem auto;
    display: block;
}

// #password-group.ng-touched.ng-invalid .mat-form-field-underline {
//     background: #f44336 !important;
// }

// #password-group.ng-touched.ng-invalid .mat-form-field-label {
//     color: #f44336 !important;
// }

#terms {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

:host::ng-deep.mat-checkbox-layout {
    white-space: normal !important;
}

:host::ng-deep.mat-checkbox-inner-container {
    margin-top: 4px;
}

header.form-header {
    display: flex;
    margin: 2rem 2% 3rem 2%;
}

a.auth-button {
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;;
    text-align: center;
    text-decoration: none;
    color: #3F51B5;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    flex: 1 1 auto;
    border: none;
    background-color: white;
}

a.auth-button.active {
    border-bottom: 1.8px solid #3F51B5;
}