<div class="container">
    <div class="form-container">
        <form *ngIf="form" [formGroup]="form" (ngSubmit)="registerHandler()">
            <header class="form-header">
                <a class="auth-button" routerLinkActive="active" routerLink="/user/login">Login</a>
                <a class="auth-button" routerLinkActive="active" routerLink="/user/register">Register</a>
            </header>
            <div class="form-group">
                <mat-form-field class="form-field">
                    <mat-label>First name</mat-label>
                    <input matInput type="text" formControlName="firstName" placeholder="Kiril">
                    <mat-icon class="mat-primary" matPrefix>account_circle</mat-icon>
                    <mat-error *ngIf="f.firstName.hasError('required')">
                        First name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Last name</mat-label>
                    <input matInput type="text" formControlName="lastName" placeholder="Chavdarov">
                    <mat-icon class="mat-primary" matPrefix>account_circle</mat-icon>
                    <mat-error *ngIf="f.lastName.hasError('required')">
                        Last name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="form-field">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email" placeholder="example@example.com">
                    <mat-icon class="mat-primary" matPrefix>alternate_email</mat-icon>
                    <mat-error *ngIf="f.email.hasError('email') && !f.email.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="f.email.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Phone</mat-label>
                    <input matInput type="text" formControlName="phone" placeholder="0888123123">
                    <mat-icon class="mat-primary" matPrefix>phone_in_talk</mat-icon>
                    <mat-error *ngIf="f.phone.hasError('pattern') && !f.phone.hasError('required')">
                        Please enter a valid phone number
                    </mat-error>
                    <mat-error *ngIf="f.phone.hasError('required')">
                        Phone number is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group" formGroupName="passwords" id="password-group">
                <mat-form-field class="form-field">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" (input)="onPasswordInput()">
                    <mat-icon class="mat-primary" matPrefix>lock</mat-icon>
                    <mat-hint>Minimum {{minPassChars}} characters</mat-hint>

                    <mat-error *ngIf="f.passwords.get('password')?.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>

                    <mat-error *ngIf="f.passwords.get('password')?.hasError('minlength')">
                        Password must be at least {{minPassChars}} characters
                    </mat-error>

                    <mat-error *ngIf="f.passwords.get('password')?.hasError('passwordMismatch')">
                        Passwords don't match
                    </mat-error>


                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Confirm password</mat-label>
                    <input matInput type="password" formControlName="confirmPassword" (input)="onPasswordInput(f.passwords.get('confirmPassword'))">
                    <mat-icon class="mat-primary" matPrefix>lock</mat-icon>
                    <mat-error *ngIf="f.passwords.get('confirmPassword')?.hasError('passwordMismatch')">
                        Passwords don't match
                    </mat-error>
                </mat-form-field>
            </div>

            <mat-checkbox id="terms" #terms color="primary" formControlName="terms">By registering you agree to our terms and conditions</mat-checkbox>

            <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit">Login</button>

        </form>
    </div>

</div>