.page-content {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

mat-paginator {
    width: 100%;
    // border-radius: 4px;
    // box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    // margin-bottom: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1rem;
    margin-bottom: 2rem;
}


.header-container {
    margin: 2rem auto;
    flex-grow: 1;
    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    display: block;
    background: #fff;
    color: rgba(0, 0, 0, .87);
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    padding: 1rem 1.5rem;
}

.query-summary .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-items: center;
    margin-bottom: auto;
    font-size: 0.7rem;
    font-weight: 100;
}

span.selection {
    color: #3F51B5;
    font-weight: 500;
    text-transform: capitalize;
}

header.results-header {
    display: flex;
    margin: 2rem 2% 0 2%;
}

h2.title {
    text-align: center;
    text-decoration: none;
    color: #3F51B5;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    flex: 1 1 auto;
    border-bottom: 1.8px solid #3F51B5;
}

.empty-list {
    margin: 1rem 0;
}

.empty-list h4 {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.empty-list p {
    font-weight: 100;
    text-align: center;
}