<div class="page-content">
    <div class="header-container">
        <header class="results-header">
            <h2 class="title">User listings</h2>
        </header>

        <ng-container *ngIf="!isLoading">
            <ng-container *ngIf="cars && count>0">
                <mat-paginator class="generic" [length]="count" [pageSize]="perPage" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" aria-label="Select page">
                </mat-paginator>
            </ng-container>

            <section class="empty-list" *ngIf="!(count>0)">
                <h4>You have not posted any listings yet</h4>
                <p>All listings you create will appear in this section</p>
            </section>
        </ng-container>
    </div>

    <div class="grid-container">
        <ng-container *ngFor="let car of cars">
            <app-listing-card [car]="car">
            </app-listing-card>
        </ng-container>
    </div>
</div>